.expense-form {
  background-color: darkcyan;
  padding: 40px;
  position: relative;
  top: 30px;
  border-radius: 30px;
  width: 70vh;
  margin: auto;
}

.expense-text {
  font-size: 10vh !important;
}
