/* .jumbotron {
  height: 540px;
  background-image: url("https://image.shutterstock.com/z/stock-vector-budget-realistic-dark-emblem-1125501509.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 50px;
} */

.cont {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("https://blog.serviceware-se.com/hubfs/it-budget-management.jpg")
      no-repeat center center / cover;
  width: 100%;
  height: 92vh;
}

.text1 {
  text-align: center;
  font-size: 80px;
}

.text2 {
  text-align: center;
  font-size: 40px;
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
