.registration-form {
  background-color: darkcyan;
  padding: 40px;
  position: relative;
  top: 30px;
  border-radius: 30px;
  width: 70vh;
  margin: auto;
}

.registration-text {
  font-size: 10vh !important;
}

.registration-footer {
  margin: 90px;
}

.validation-text {
  font-size: 12.4px;
  margin-left: 10px;
  color: #e4d3cf;
}
