.navbar {
  background-color: darkcyan;
}

#basic-nav-dropdown {
  color: white !important;
  margin-left: 10px;
  font-size: 20px;
}

.navbar-brand {
  font-size: 25px !important;
  font-family: "Playfair Display", serif;
}

.nav-link {
  font-size: 20px;
  margin-left: 10px;
  font-family: "Playfair Display", serif;
}
